<footer class="gwic-footer">
  {{#if sectionLinks}}
  <div class="gwic-footer__upper">
    <div class="nsw-container section-links">
      {{#each sectionLinks}}
        <div class="section-links__group">
          <h3 class="section-links__heading"><a href="{{url}}">{{title}}</a></h3>
          <ul class="section-links__list">
            {{#each links}}
              <li class="section-links__item"><a href="{{url}}">{{text}}</a></li>
            {{/each}}
          </ul>
        </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
  <div class="gwic-footer__lower">
    <div class="nsw-container">
      <p>{{respectText}}</p>
      <hr>
      <ul class="nsw-footer-links">
        {{#each footerLinks}}
          <li class="gwic-footer-links__item">
            <a href="{{url}}" class="gwic-footer-links__link">{{text}}</a>
          </li>
        {{/each}}
      </ul>
      <div class="gwic-footer__info">
        <p class="gwic-footer__copyright">{{copyright}}</p>
      </div>
    </div>
  </div>
</footer>
