<footer class="gwic-footer text-center">
  {{#if sectionLinks}}
  <div class="gwic-footer__upper">
    <div class="nsw-container section-links">
      {{#each sectionLinks}}
        <div class="section-links__group">
          <h3 class="section-links__heading"><a href="{{url}}">{{title}}</a></h3>
          <ul class="section-links__list">
            {{#each links}}
              <li class="section-links__item"><a href="{{url}}">{{text}}</a></li>
            {{/each}}
          </ul>
        </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
  <div class="gwic-footer__lower">
    <div class="nsw-container">
      <p class="gwic-footer__respect-text">{{respectText}}</p>
      <div class="gwic-footer__info">
        <div class="gwic-footer__copyright">{{copyright}}</div>
        <ul class="gwic-footer-links flex-column flex-md-row align-content-center justify-content-md-center">
          {{#each footerLinks}}
            <li class="gwic-footer-links__item ">
              <a href="{{url}}" class="gwic-footer-links__link">{{text}}</a>
            </li>
          {{/each}}
        </ul>
        <div><a href="mailto:{{email}}">{{email}}</a> &middot; {{ phone }}</div>
      </div>
      {{#with social}}
      <div class="gwic-footer__social-icons">
        {{#with facebook}}
        <a href="{{../facebook}}" class="gwic-footer__social-icons__link">
          <svg class="" focusable="false" aria-hidden="true">
            <use xlink:href="#facebook"></use>
          </svg>
        </a>
        {{/with}}
        {{#with linkedin}}
        <a href="{{../linkedin}}" class="gwic-footer__social-icons__link">
          <svg class="" focusable="false" aria-hidden="true">
            <use xlink:href="#linkedin"></use>
          </svg>
        </a>
        {{/with}}
      </div>
      {{/with}}
    </div>
  </div>
</footer>
