<nav id="gwic-navigation" class="gwic-navigation" aria-label="main menu">
  <div class="gwic-navigation__header">
    <h2 id="gwic-navigation">{{menuTitle}}</h2>
    <button type="button" class="gwic-navigation__close js-close-navigation" aria-expanded="true">
      <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
      <span class="sr-only">Close Menu</span>
    </button>
  </div>
  <ul class="gwic-navigation__list {{{navClassByCount navitems}}}">
    {{#each navitems}}
    <li class="gwic-navigation__list-item">
      <a href="{{url}}" class="gwic-navigation__link d-flex flex-column">
        {{#with img}} 
        <span class="flex-grow-1">
          <span class="gwic-navigation__icon text-center">
            {{{icon}}}
          </span>
          <span class="gwic-navigation__icon gwic-navigation__icon--hover text-center">
            <div class="gwic-navigation--circle"></div>
            {{{ icon }}}
          </span>
        </span>
        {{/with}}
        <span class="gwic-navigation__link-text flex-shrink-1">{{text}}</span>
      </a>
    </li>
    {{/each}}
  </ul>
</nav>