<div class="split-col {{classifiers}}">
  <div class="nsw-grid">
    <div class="nsw-row">
      <div class="nsw-col nsw-col-sm-{{col-1.size}} {{#if 
    col-1.show-top-border}}split-col__top-border{{/if}}">
        {{{col-1.content}}}
      </div>
      
      <div class="nsw-col nsw-col-sm-{{#with col-1}}{{minus 12 size}}{{/with}} {{#if 
    col-2.show-top-border}}split-col__top-border{{/if}}">
        {{{col-2.content}}}
      </div>
    </div>
  </div>
</div>